@import "tailwindcss";

:root {
  --background: oklch(97.7% .009 255);
  --foreground: oklch(12.9% .042 264.695);
  --font-mono: 'Fira Code', 'monospace';
  --primary-color: oklch(59.6% .145 163.225);
  --secondary-color: oklch(46.3% .045 257.4);
--color-accent: oklch(37.8% .077 168.94);

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


.dark {
  /* Thème dark */
  --background: oklch(12.9% .042 264.695);
  --foreground:  oklch(97.7% .009 255);

}

body {
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));
  transition: background-color 0.3s ease, color 0.3s ease;
}


