@import "tailwindcss";

:root {
  --background: oklch(97.7% .009 255);
  --foreground: oklch(12.9% .042 264.695);
  --font-mono: 'Fira Code', 'monospace';
  --primary-color: oklch(59.6% .145 163.225);
  --secondary-color: oklch(46.3% .045 257.4);
--color-accent: oklch(37.8% .077 168.94);

  --color-amber-500: oklch(78% .16 85);
  --color-rose-500: oklch(68% .21 15);
  --color-indigo-500: oklch(58% .18 265);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: oklch(12.9% .042 264.695);
    --foreground: oklch(97.7% .009 255);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}

